body {
  background-color: #23bcd9;
}

.buttum {
  text-decoration: none;
  font-size: 100px;
  color: #2390d9;
  background-color: white;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 100px;
  position: absolute;
  left: 35%;
  top: 40%;
  font-family: Arial;
}

.buttum:hover {
  transform: scale(1.05);
}
